* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #204891;
    color: white;
}

.main__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    margin-top: 24px;
}

.subsettings {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.subsettings p {
    margin-right: 12px;
    margin-left: 12px;
    text-align: center;
}

.subsettings select {
    width: 237.5px;
    height: 36px;
    margin-right: 36px;
    margin-left: 36px;
    border-radius: 30px;
    border: 1px solid #4FABFF;
    padding-left: 12px;
    padding-right: 12px;
}

.grid {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

tr {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

td {
    width: 85px;
    height: 84px;
    border-radius: 5px;
    border: 2px solid #54BAE0;
    background: #4580C4;
    display: flex;
    padding: 6px 7px 6px 6px;
    justify-content: center;
    align-items: center;
}

td img {
    background: #4580C4;
    display: block;
    margin: 6px auto;
    max-width: 100%;
    max-height: 100%;}

button {
    margin-top: 120px;
    display: inline-flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #B0C255;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}